@model IEnumerable<PluginFramework.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                 <label for="size">Size</label>
                <input type="text" id="size" name="size"><br>
                 <button  onclick="OnGetMyOnClick">Click Me</button>  <br>
            </td>
        </tr>
}
    </tbody>
</table>
